h1{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

p{
    font-family: monospace;
    font-size: large;
    color: aliceblue;
}

body{
    background-color: midnightblue;
}

a{
    color: aliceblue;
}

