h1{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-decoration: underline;
    font-size: 35pt;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-decoration: underline;
    font-size: 35pt;
}

p{
    font-family: monospace;
    font-size: xx-large;
    color: white;
}

body{
    background-color: #181a1b;
    margin-right: 3%;
    margin-left: 3%;
}

a{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

ul{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}

li{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}

footer{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.mainNav {
    white-space: nowrap;
    display: flex;
    justify-content: space-evenly;
}

.mainNav a{
    justify-content: space-between;
    font-variant: small-caps;
}

a:hover {
    color: blue;
}

.main{
    display: flex;
}

.mainSidebar{
    color: aliceblue;
    font-size: xx-large;
    border-left: aliceblue;
    border-style: solid;
    width: 25%;
    margin: 1%;
    padding: 2%;
    font-family: 'Courier New', Courier, monospace;
}

.mainContentArea {
    border: aliceblue;
    border-style: solid;
    width: 75%;
    margin: 1%;
    padding: 2%;
}

.mainAbout, .mainProjects, .mainHobbies{
    border: aliceblue;
    border-style: solid;
    width: 92%;
    margin: 1%;
    padding: 2%;
}


#clockbox{
    text-align-last: center;
}

#astrophotos1, #astrophotos2{
    display: flex;
    justify-content: space-evenly;
    
}

.clockImg{
    display: flex;
    justify-content: space-evenly;
}

